<div class="container">
  <div class="row card center">
    <h1>Sorry, This Page Does not Exist in Demo Mode 🙃</h1>
    <h3>Find <a [href]="'https://atila.ca'+router.url" target="_blank">this Page</a>
      on the <a href="https://atila.ca" target="_blank">
      Full Atila Site</a>.</h3>

    <br>
    <h5><a (click)="location.back()">Go Back</a></h5>
    <img class="center-block" style="width: max-content; padding: 3%"
         src="../../assets/img/not-found/messi-miss.gif" alt="Messi Penalty miss vs Iceland"
          title="Messi penalty miss vs Iceland">
  </div>

</div>
