<div [ngbPopover]="popContent" popoverTitle="Try Search" #trySearch="ngbPopover"
     placement="bottom" triggers="manual" class="popover-anchor" style="width: 100%">
</div>

<ng-template #popContent >Try
  <a routerLink="/search" [queryParams]="{q_cta: 'popover',q_source:'scholarships_list'}"><b> Search</b></a>.
  Enter your term and find matching scholarships. <a (click)="toggleSearchModal({'toggle':true})">Close</a></ng-template>
<div class="container-fluid">


  <div class="background-image" >
    <div class="preview-form container row">
      <form #previewForm="ngForm" (ngSubmit)="onSubmit(previewForm)" class="col-sm-12 white-placeholder white-underline">

        <h1 style="margin-bottom: 0" class="form-header">Find Your Scholarships</h1>
        <h4 *ngIf="model.errors" class="form-header" style="margin-bottom: 0;font-size: x-large;">
          {{model.errors}}
        </h4>
        <div *ngIf="model.previewMode=='universalSearch'" class="row justify-content-center preview-questions">

          <div class="search-box">

            <div class="col-sm-12 input-field">
              <app-typeahead [(model)]="model.searchString" [dataset]="MASTER_LIST_EVERYTHING"
                             [inputStyles]="{'font-size':'30px', 'caret-color': 'white', 'color': 'white'}"
                             [metadata]="{'placeholder':'Enter a search term', 'key': 'searchString','disableFocusFirst': true, 'matInput': true, 'noPlaceHolder': true}"
                             [labelStyles]="{'font-size':'30px', 'caret-color': 'white', 'color': 'white'}"
                             (typeaheadSelectedEvent)="typeaheadEvent($event)">
              </app-typeahead>
            </div>
            <div class="col-sm-12">
              <p style="color: white">Sample Searches:
                <ng-container *ngFor="let searchTerm of sampleSearches; last as isLast">
                  <a routerLink="/scholarship" [queryParams]="{q:searchTerm.toLowerCase()}"
                     (click)="$event.preventDefault();
                      model.searchString=searchTerm.toLowerCase();
                      onSubmit(previewForm)">
                    {{searchTerm}}</a>
                  <ng-container *ngIf="!isLast">,</ng-container>
                </ng-container>

              </p>
            </div>

          </div>

        </div>

        <div class="" style="text-align: center;">
          <button class=" col-sm-8 offset-sm-2 waves-effect waves-light btn scholarship-btn" type="submit">Get My Scholarships</button>
        </div>
        <br>

      </form>
    </div>
  </div>

  <!-- How it Works-->
  <div class="container">
    <h1 style="margin-top: 0; text-align: center" class="col-sm-12 atila-blue"><a routerLink="/blog/atila/what-is-atila"> How Atila Works </a></h1>
    <h5 style="margin-top: 0; text-align: center" class="col-sm-12 atila-blue"> <a routerLink="register">Make an account.</a> Find Scholarships. Apply </h5>
    <div class="row">
      <div class="card col-lg-4 col-sm-12">
        <h3>1. Make an Account 👆🏽</h3>
        <p><a routerLink="register">Register</a> for a free account in 15 seconds.</p>
      </div>
      <div class="card col-lg-8 col-sm-12">

        <img src="" id="registration-gif"
             alt="Atila Registration Walkthrough" title="Atila Registration Walkthrough"
             class="landing-page-gif landing-page-gif-desktop">
      </div>
    </div>
    <div class="row">
      <div class="card col-lg-4 col-sm-12">
        <h3>2. Create Your Profile 🙎🏾‍♀️</h3>
        <p>Tell us the schools and programs you are interested in.</p>
      </div>
      <div class="card col-lg-8 col-sm-12">

        <img src="" id="create-profile-gif"
             alt="Create Your Profile" title="Create Your Profile"
             class="landing-page-gif landing-page-gif-mobile">
      </div>
    </div>
    <div class="row">
      <div class="card col-lg-4 col-sm-12">
        <h3>3. Find Your Scholarships 👀</h3>
        <p>Get matched with scholarships that are customized just for you based on your profile.</p>
      </div>
      <div class="card col-lg-8 col-sm-12">

        <img src="" id="view-scholarships-gif"
             alt="Find Your Scholarships" title="Find Your Scholarships"
             class="landing-page-gif landing-page-gif-mobile">
      </div>
    </div>
  </div>
  <hr/>

  <!-- More Features-->
  <div class="container">
    <h1 style="margin-top: 0; text-align: center" class="col-col-sm-12 atila-blue">
      <a routerLink="/blog/atila/what-is-atila"> More Features </a>
    </h1>
    <h5 style="margin-top: 0; text-align: center" class="col-sm-12 atila-blue">
      Stay Woke. <a routerLink="essay">Read Essays. </a> <a routerLink="applications/demo">Automate Applications.</a></h5>
    <div class="row">
      <div class="card col-lg-4 col-sm-12">
        <h3>1. Get Notified when Scholarships are Due 🕐</h3>
        <p>Save scholarships you are interested in and we'll let you know 7 days and 24 hours before the scholarship is due.</p>
      </div>
      <div class="card col-lg-8 col-sm-12">

        <img src="" id="scholarship-notifications-gif"
             alt="Get Notified when Scholarships are Due" title="Get Notified when Scholarships are Due"
             class="landing-page-gif landing-page-gif-mobile">
      </div>
    </div>
    <div class="row">
      <div class="card col-lg-4 col-sm-12">
        <h3>2. Read Other student's <a routerLink="essay">Essays</a> 👫</h3>
        <p>Read <a routerLink="essay">essays and past applications</a> from other students for scholarships and schools you are interested in.</p>
      </div>
      <div class="card col-lg-8 col-sm-12">

        <img src="" id="view-essays-gif"
             alt="Read Other student's Essays" title="Read Other student's Essays"
             class="landing-page-gif landing-page-gif-mobile">
      </div>
    </div>
    <div class="row">
      <div class="card col-lg-4 col-sm-12">
        <h3>3. <a routerLink="applications/demo">Automate</a> Scholarship Application 💪🏿</h3>
        <p>Automate the form filling process for web and pdf scholarship applications. Atila will even write your application email for you. 😯</p>
      </div>
      <div class="card col-lg-8 col-sm-12">

        <img src="" id="application-automation-gif"
             alt="Automate Scholarship Application" title="Automate Scholarship Application"
             class="landing-page-gif landing-page-gif-mobile">
      </div>
    </div>
  </div>
  <hr/>

  <!-- Blog Posts Demo-->
  <div class="container row">
    <h1 style="margin-top: 0; text-align: center" class="col-sm-12 atila-blue"><a routerLink="/blog"> Blog </a></h1>
    <h5 style="margin-top: 0; text-align: center" class="col-sm-12 atila-blue"> Learn from other students' stories </h5>
    <div class="row">
      <div  *ngFor="let blog of blogs; let i = index; first as isFirst;" class="col-md-4">
        <app-card-generic [item]="blog"
                          [metadata]="{hideDescription: blog.image,showImageInPreviewMode: true}"
                          [cardStyle]="{'height': '510px', 'overflow-y': 'hidden'}"
                          [titleMaxLength]="75"
                          [cardTitleStyle]="{height: '200px'}"> </app-card-generic>
      </div>
    </div>
  </div>
  <hr/>

  <!-- Essay Posts Demo-->
  <!--[imageStyle]="{ max-height: 200px, width: auto, margin-left: 20%, }"-->
  <div class="container row">
    <h1 style="margin-top: 0; text-align: center" class="col-sm-12 atila-blue"><a routerLink="/essay"> Essays </a></h1>
    <h5 style="margin-top: 0; text-align: center" class="col-sm-12 atila-blue"> Read the essays that got students acceptance to top schools and win major scholarships. </h5>
    <div class="row">
      <div  *ngFor="let essay of essays; let i = index; first as isFirst;" class="col-md-4">
        <app-card-generic [item]="essay"
                          [previewDescriptionLength]="150"
                          [metadata]="{hideDescription: false, showImageInPreviewMode: true,showEssayImage: true}"
                          [imageStyle]="{'max-height': '200px', width: 'auto', 'margin-left': '20%'}"
                          [cardStyle]="{'height': '550px', 'overflow-y': 'hidden'}" [titleMaxLength]="35"
                          [cardTitleStyle]="{height: '100px'}"> </app-card-generic>
      </div>
    </div>
  </div>
  <hr/>

  <!--Youtube video demo-->
  <div class="container row">
    <h1 style="margin-top: 0; text-align: center" class="col-sm-12 atila-blue"> Live Demo </h1>
    <div class="videowrapper col-sm-12 center-block">
      <!--lazy iframe src w/jquery-->
      <iframe class="lazy-load-element" src="" width="560" height="314"
              allowfullscreen="allowfullscreen">
      </iframe>
    </div>
  </div>
  <hr/>

  <div class="row center" style="text-align: center; margin-bottom: 1%; margin-top: 1%">
    <p style="font-size: medium" class="col-sm-12 col-md-6">Subscribe to get updates on new <a routerLink="/">scholarships</a>, <a routerLink="/blog">blog</a> and
      <a routerLink="/forum">forum posts</a>, and new product features.

      <span *ngIf="subscriber.response" style="color: green">
        <br>
        {{subscriber.response}}
      </span>
    </p>

    <mat-form-field class="browser-default col-sm-12 col-md-5 dark-placeholder">
      <!-- <input matInput [(ngModel)]="model.city[0]" name="city" id="city" required placeholder="City"> -->
      <input matInput type="email" class="form-control" style="padding-bottom: 0; margin-bottom: 0; color: #194F87"  name="email" id="emailid"
             placeholder="Email Address" email [(ngModel)]="subscriber.email" (keyup.enter)="addSubscriber($event)">
    </mat-form-field>
    <a class="waves-effect waves-light btn browser-default col-md-5 col-sm-12 offset-md-6" style="background-color:#4080ff; width: 90%"
       (click)="addSubscriber()">Subscribe</a>

  </div>
</div>
